* {
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}

.img {
  height: 25%;
  width: 35%;
  max-width: 15%;
  max-height: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 20px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 20px 0px 20px 30px;
}

li > a {
  text-align: start;
  font-size: 25px;
  text-decoration: none;
  color: chocolate;
}

h1 {
  font-size: 65px;
  font-weight: bold;
  color: brown;
  background-color: burlywood;
}

/*estilos de las recetas */

h2 {
  color: chocolate;
  font-size: 45px;
  padding-left: 20px;
}

h3 {
  color: chocolate;
  font-size: 35px;
  padding-left: 20px;
}

.container {
  display: flex;
  margin-left: 30px;
  
}

p {
  text-wrap:wrap;
  max-width: 50%;
  padding-left: 20px;
}
ol {
  margin: 20px 0px 50px 70px;
}

.inicio {
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
  text-decoration: none;
  background-color: darkgoldenrod;
  padding: 15px 15px;
  border-radius: 10%;
  color: white;
  margin-bottom: 30px;
}
li{
  font-size: 25px;
  color: rgb(6, 6, 91);
}
